.timeline {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; Add this line */
    background: var(--color-bg-variant);
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--color-primary);
    margin-top: 0;
}

.timeline:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.timeline .title-wrapper {
    display: flex;
    /* align-items: center; */
    gap: 15px;
    margin-bottom: 25px;
    /* justify-content: center; */
}

.timeline-list {
    font-size: var(--fs-6);
    margin-left: 45px;
    /* text-align: center; Add this line */
}

.timeline-item {
    position: relative;
}

.timeline-item:not(:last-child) {
    margin-bottom: 20px;
}

.timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
    display: flex;
}

.timeline-list span {
    color: var(--color-primary);
    font-weight: var(--fw-400);
    line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 2px;
    height: calc(100% + 50px);
    background: var(--jet);
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    /* background: var(--text-gradient-yellow); */
    background: var(--color-primary);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
}


.hydrated {
    scale: 1.5;
    margin-left: 7px;
}

@media screen and (max-width: 1225px){
    .timeline {
        margin-right: 10%;
        margin-left: 10%;
    }
}